.fundo {
    background-color: white;
}

.pNomes {
    font-family: 'Oswald', sans-serif;
}

html {
    overflow-x: hidden;
}

.container {
    align-content: start;
    margin-top: 10%;
    width: auto;
    height: auto;
    position: relative;
}

.greetings {
    width: auto;
    height: 50%;
}

.greet1 {
    align: left;
    letter: -4%;
    line-height: 120%;
    font-size: 400%;
    weight: bold;
    color: #181E4B;
    font-family: 'Open Sans', sans-serif;"Plus Jakarta Sans";
}

#tittleDis {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
}

.card-title {
    font-family: 'Oswald', sans-serif;
}