html {
    overflow-x: hidden;
}

.container {
    align-content: start;
    margin-top: 4%;
    width: auto;
    height: auto;
    position: relative;
}

div {
    font-family: 'Open Sans', sans-serif;"Plus Jakarta Sans";
}